<%- include('../../partials/header'); %>
<h2>Orders</h2>
<table cellspacing="0">
  <thead>
    <th scope="col">ID</th>
    <th scope="col">Customer</th>
    <th scope="col">Placed On</th>
    <th scope="col">Shipped On</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% orders?.forEach(function (order) { %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.customerId %></td>
        <td><%= order.datePlaced?.toISOString().slice(0,10); %></td>
        <td><%= order.dateShipped?.toISOString().slice(0,10) || 'Not Shipped'; %></td>
        <td><a href="/orders/edit/<%= order.id %>">Edit</a></td>
        <td><a href="/orders/view/<%= order.id %>">View</a></td>
      </tr>
    <% }); %>
  </tbody>
</table>
<%- include('../../partials/footer'); %>
