<form action="/customers/save" method="POST">
  <input type="hidden" name="id" value="<%= customer?.id %>" />
  <fieldset name="name">
    <legend>Customer Name</legend>
    <div class="form-field">
      <label for="lastName">Last Name</label>
      <input id="lastName" name="lastName" type="text" value="<%= customer?.lastName %>" />
    </div>
    <div class="form-field">
      <label for="firstName">First Name</label>
      <input id="firstName" name="firstName" type="text" value="<%= customer?.firstName %>" />
    </div>
  </fieldset>
  <fieldset name="contact">
    <legend>Customer Contact</legend>
    <div class="form-field">
      <label for="email">Email</label>
      <input id="email" name="email" type="email" value="<%= customer?.email %>" />
    </div>
  </fieldset>
  <fieldset name="address">
    <legend>Customer Address</legend>
    <div class="form-field">
      <label for="address">Address Line</label>
      <input id="address" name="address" type="text" value="<%= customer?.address %>" />
    </div>
    <div class="form-field">
      <label for="city">City</label>
      <input id="city" name="city" type="text" value="<%= customer?.city %>" />
    </div>
    <div class="form-field">
      <label for="region">Region</label>
      <input id="region" name="region" type="text" value="<%= customer?.region %>" />
    </div>
    <div class="form-field">
      <label for="country">Country</label>
      <input id="country" name="country" type="text" value="<%= customer?.country %>" />
    </div>
    <div class="form-field">
      <label for="postalCode">Postal Code</label>
      <input id="postalCode" name="postalCode" type="text" value="<%= customer?.postalCode %>" />
    </div>
  </fieldset>
  <button type="submit">
    <%= buttonText %>
  </button>
</form>
