<%- include('../../partials/header'); %>
      <h2>Products</h2>
      <table cellspacing="0">
        <thead>
          <th scope="col">ID</th>
          <th scope="col">Description</th>
          <th scope="col">Cost Price</th>
          <th scope="col">Sell Price</th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% products?.forEach(function (product) { %>
            <tr>
              <td><%= product.id %></td>
              <td><%= product.description %></td>
              <td><%= product.costPrice %></td>
              <td><%= product.sellPrice %></td>
              <td><a href="/products/edit/<%= product.id %>">Edit</a></td>
              <td><a href="/products/view/<%= product.id %>">View</a></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <a href="/products/new">Add New Product</a>
<%- include('../../partials/footer'); %>
